<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Reset your password using the this link: <a href="http://www.andela.com">Password reset link</a> </p>
  </body>
</html>
